<div class="todo">
  <header>
    <h1>{{title}}</h1>
    <input/>
  </header>
  <ul>

      <app-task *ngFor="let item of items"></app-task>
  </ul>
  <footer>

    <input type="radio" id="radio1" name="radioGroup" >
    <label class="custom-radio" for="radio1">All</label>

    <input type="radio" id="radio2" name="radioGroup">
    <label class="custom-radio" for="radio2">Active</label>

    <input type="radio" id="radio3" name="radioGroup">
    <label class="custom-radio" for="radio3">Completed</label>
</footer>
</div>
